---
Order: 40
Description: Information about the various commands which can be used with Chocolatey GUI
---

<p>While it is possible to configure all aspects of Chocolatey GUI from within the <a href="../usage/settings">Settings</a> screen, it is also possible
to configure all aspects directly from three commands which are exposed with the `chocolateyguicli` executable.  This
executable is installed with the Chocolatey GUI Chocolatey package, and is immediately available in both a PowerShell
or Command window.  Three commands, `config`, `feature`, and `purge` are available to control the different aspects of Chocolatey
GUI.</p>

<p>Click on the links below to find out more information about each command.</p>

@Html.Partial("_ChildPages")
