---
Order: 20
Title: Settings
Description: Modify the settings for Chocolatey GUI
---

<p>The Settings screen is where you can view and modify the different configuration options for both Chocolatey GUI as well
as Chocolatey.</p>

@Html.Partial("_ChildPages")
