<?xml version="1.0"?>
<configuration>
<configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Chocolatey.Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Chocolatey.Explorer.Properties.Settings>
            <setting name="ChocolateyLibDirectory" serializeAs="String">
                <value>%ChocolateyInstall%\lib</value>
            </setting>
        </Chocolatey.Explorer.Properties.Settings>
    </userSettings>
  <nlog>
    <targets>
      <target name="file" type="File" fileName="${specialfolder:folder=ApplicationData}/ChocolateyGUI/Logs/chocolateygui_${level}.log" layout="${longdate} ${threadid} [${level:uppercase=true}] ${logger} ${message}" archiveFileName="${specialfolder:folder=ApplicationData}/ChocolateyGUI/Logs/chocolateygui_${level}.{#}.log" archiveAboveSize="1048576" archiveNumbering="Sequence" maxArchiveFiles="10" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
</configuration>
