html, body {
    height: 100%;
    margin: 0;
    padding: 0
}

body {
    font-size: .85em;
    color: #333;
    font-family: "Segoe UI","Trebuchet MS",Verdana,Helvetica,Sans-Serif;
}

section {
    margin-bottom: 20px
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: .6em 0
}

h1 {
    font-size: 2.6em
}

section h1 {
    font-size: 2.1em;
    margin-bottom: 2px
}

h2 {
    font-size: 2em;
    margin-bottom: 2px
}

h3 {
    font-size: 1.6em;
    margin-bottom: 0
}

h4 {
    font-size: 1.4em
}

h5 {
    font-size: 1.1em
}

h6 {
    font-size: 1em
}

    h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
        margin: 0
    }

.hgroup h1, .hgroup h2 {
    margin: 0;
    padding: 0
}

aside h1 {
    font-size: 1.154em
}

aside h2 {
    font-size: 1.077em
}

aside h3, aside h4, aside h5, aside h6 {
    font-size: 1em
}

li ul, li ol {
    margin: 0
}

dl {
    margin: 0 0 1.5em 0
}

    dl dt {
        font-weight: bold
    }

dd {
    margin-left: 1.5em
}

p {
    margin: 0 0 1em;
    line-height: 1.538em
}

    p img.left {
        float: left;
        margin: .923em .923em .923em 0;
        padding: 0
    }

    p img.right {
        float: right;
        margin: .923em 0 .923em .923em
    }

a {
    color: #bc7100;
    text-decoration: none;
    outline: none
}

    a:hover {
        text-decoration: underline
    }

    a img {
        border: none
    }

blockquote {
    margin: .923em;
    color: #666;
    font-style: italic
}

strong {
    font-weight: bold
}

em, dfn {
    font-style: italic
}

dfn {
    font-weight: bold
}

sup, sub {
    line-height: 0
}

abbr, acronym {
    border-bottom: 1px dotted #666
}

address {
    margin: 0 0 .923em;
    font-style: italic
}

del {
    color: #666
}

pre {
    margin: .923em 0
}

pre, code, tt {
    font: 1em 'andale mono','lucida console',monospace;
    line-height: 1.462em
}

header, footer, nav, section {
    display: block
}