---
Order: 10
Title: User Interface
Description: How to use the Chocolatey GUI User Interface
---
<p>The Chocolatey GUI interface is relatively simple, and this section of the documentation will walk through how to interact with the different sections.</p>

@Html.Partial("_ChildPages")
