---
Order: 50
Description: How to configure Chocolatey GUI
---

<p>There are two types of configuration which can be applied to Chocolatey GUI.  The first is a config value, which could be a string, or a number, which the user can set.  The other is a feature, which can either be turned on or off.  Exposing these configuration options is done through the <a href="../commands/config">config</a> and <a href="../commands/feature">feature</a> commands of the chocolateyguicli executable.</p>

@Html.Partial("_ChildPages")
