---
Order: 40
Title: Actions
Description: Inforamtion about top level actions that can be completed from Settings screen
---

<p>Within the Chocolatey GUI Settings screen, there are some top level actions that can be completed for the application.  These icon purging the different caches that are used.  In addition to being able to trigger these from within Chocolatey GUI, it is also possible to use the chocolateyguicli command to accomplish the same thing.  Information on this command can be found <a href="../../../commands/purge">here</a>.</p>

@Html.Partial("_ChildPages")
