<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define MainExe="ChocolateyGui.exe"?>
  <?define GuiTargetPath="$(var.GuiTargetDir)\$(var.MainExe)" ?>
  <?define Version=!(bind.fileVersion.$(var.MainExe))?>
  <?define ProductName="Chocolatey GUI" ?>
  <?define Language="1033" ?>
  <?define Manufacturer="Chocolatey"?>

  <Product Id="*" Name="$(var.ProductName)" Language="$(var.Language)" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="f8164f91-fa5c-4789-b68d-9beb5b146155">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED" />
    <SetProperty Id="CHOCOLATEY_INSTALL" Value="$(env.ChocolateyInstall)" Before="LaunchConditions" Sequence="first"  />


    <Condition Message="This application requires .NET Framework 4.5.2. Please install the .NET 4.5.2 Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED]]>
    </Condition>

    <Condition Message="This application only runs in Windows 7 SP1 or later.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>

    <Condition Message="Chocolatey must already be installed.">
      <![CDATA[CHOCOLATEY_INSTALL]]>
    </Condition>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />

    <?if $(var.Configuration) = "Debug"?>
    <MediaTemplate EmbedCab="yes" CompressionLevel="none" />
    <?else?>
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <?endif?>

    <Icon Id="icon.ico" SourceFile="$(var.GuiProjectFolder)\chocolateyicon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <Feature Id="ProductFeature" Title="Chocolatey GUI" Level="1">
      <ComponentGroupRef Id="ChocolateyExe" />
      <ComponentGroupRef Id="ApplicationContent" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="CreateAppDataFolder" />
      <ComponentRef Id="CreateAppDataConfigFolder" />
      <ComponentRef Id="CreateUserAppDataFolder" />
      <MergeRef Id="VCRedist" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Chocolatey GUI" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Component Id="ApplicationShortcut" Guid="A508A8D8-4F82-4AA9-AB70-E1022B9A9EAC">
          <Shortcut Id="ApplicationStartMenuShortcut" Advertise="no"
                    Name="Chocolatey GUI"
                    Description="GUI for Chocolatey"
                    Target="[INSTALLFOLDER]ChocolateyGui.exe"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="icon.ico" />
        </Component>
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="CommonAppStuff" Name="Chocolatey GUI">
          <Component Id="CreateAppDataFolder" Guid="D534FECA-E69F-4DE6-A2CD-192C6149BCC2">
            <CreateFolder>
              <Permission User="Everyone" GenericAll="yes" />
            </CreateFolder>
          </Component>
          <Directory Id="CommonAppDataConfig" Name="Config">
            <Component Id="CreateAppDataConfigFolder" Guid="FA867EA2-AEDB-4CF8-8471-BC03D651B50C">
              <CreateFolder>
                <Permission User="Administrators" GenericAll="yes" />
                <Permission User="Everyone" GenericRead="yes" GenericExecute="yes" />
              </CreateFolder>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="LocalAppDataFolder">
        <Directory Id="UserAppStuff" Name="Chocolatey GUI">
          <Component Id="CreateUserAppDataFolder" Guid="265AADCF-FCC7-45F1-8E2B-506F0B426D37">
            <CreateFolder />
            <RemoveFolder Id="UserAppStuff" On="uninstall" />
          </Component>
        </Directory>
      </Directory>
      <Merge Id="VCRedist" SourceFile="Microsoft_VC120_CRT_x86.msm" DiskId="1" Language="0" />
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ChocolateyExe" Directory="INSTALLFOLDER">
      <Component Id="ChocolateyGui.exe" Guid="f8164f91-fa5c-0001-0001-9beb5a044699">
        <File Id="ChocolateyGui.exe" Source="$(var.GuiTargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ChocolateyGui.exe.config" Guid="6C3AE56F-1AA3-4145-BFA9-345BBCC5C3D1">
        <File Id="ChocolateyGui.exe.config" Source="$(var.GuiTargetDir)/ChocolateyGui.exe.config" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ChocolateyGui.Common.dll" Guid="B9E017C8-0CAB-46B3-A950-19839EA23870">
        <File Id="ChocolateyGui.Common.dll" Source="$(var.GuiTargetDir)/ChocolateyGui.Common.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ChocolateyGui.Common.Windows.dll" Guid="00853DC2-3E6B-4DFB-8ECF-BBA0E224462C">
        <File Id="ChocolateyGui.Common.Windows.dll" Source="$(var.GuiTargetDir)/ChocolateyGui.Common.Windows.dll" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ChocolateyGuiCli.exe" Guid="2A272E8E-3BE2-44A4-A8E3-393CB2C37769">
        <File Id="ChocolateyGuiCli.exe" Source="$(var.GuiCliTargetDir)/ChocolateyGuiCli.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ChocolateyGuiCli.exe.config" Guid="2843B029-3EA6-4F0F-A422-C473C1CAF75D">
        <File Id="ChocolateyGuiCli.exe.config" Source="$(var.GuiCliTargetDir)/ChocolateyGuiCli.exe.config" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ChocolateyGui.exe.manifest" Guid="AEA5D8AE-4274-444E-AEB5-988492C6919E">
        <File Id="ChocolateyGui.exe.manifest" Source="$(var.GuiTargetDir)/ChocolateyGui.exe.manifest" KeyPath="yes" Checksum="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>