---
Order: 30
Title: Sources
Description: Configure the sources used by Chocolatey GUI
---

<p>Within the Sources section of Settings screen, it is possible to view, add, edit and delete the different sources that
are used by both Chocolatey GUI and Chocolatey.</p>

@Html.Partial("_ChildPages")
