<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="*" Name="ChocolateyGUI" Language="1033" Version="0.10.4.0" Manufacturer="Baes Christiaan" UpgradeCode="f8164f91-fa5c-4789-b68d-9beb5b146155">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    
    <PropertyRef Id="NETFRAMEWORK40FULL"/>

    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET 4.0 Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

    <Icon Id="icon.ico" SourceFile="$(var.Chocolatey.Explorer.ProjectDir)\chocolateyicon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    
		<Feature Id="ProductFeature" Title="ChocolateyGUI" Level="1">
			<ComponentGroupRef Id="ChocolateyComponents" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ChocolateyGUI" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="ChocolateyGUI"/>
      </Directory>
		</Directory>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{4747347F-5DBC-44C6-A56A-AA9473606DEC}">
        <Shortcut Id="ApplicationStartMenuShortcut"
             Name="ChocolateyGUI"
           Description="GUI for chocolatey"
            Target="[INSTALLFOLDER]ChocolateyGUI.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <Shortcut Id="Uninstall"
                          Name="Uninstall ChocolateyGUI"
                          Description="Uninstalls ChocolateyGUI"
                          Target="[System64Folder]msiexec.exe"
                          Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\ChocolateyGUI" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
  
  
  <Fragment>
		<ComponentGroup Id="ChocolateyComponents" Directory="INSTALLFOLDER">
      <Component Id="ChocolateyGUI.exe" Guid="f8164f91-fa5c-0001-0001-9beb5a044699">
        <File Id="ChocolateyGUI.exe" Source="$(var.Chocolatey.Explorer.TargetPath)" KeyPath="yes" Checksum="yes"/>
			</Component>
      <Component Id="log4net.dll" Guid="f8164f91-fa5c-0002-0001-9beb5a044699">
        <File Id="log4net.dll" Source="$(var.Chocolatey.Explorer.TargetDir)\log4net.dll" KeyPath="yes"/>
      </Component>
      <Component Id="StructureMap.dll" Guid="f8164f91-fa5c-0003-0001-9beb5a044699">
        <File Id="StructureMap.dll" Source="$(var.Chocolatey.Explorer.TargetDir)\StructureMap.dll" KeyPath="yes"/>
      </Component>
      <Component Id="sources.xml" Guid="f8164f91-fa5c-0004-0001-9beb5a044699">
        <File Id="sources.xml" Source="$(var.Chocolatey.Explorer.TargetDir)\sources.xml" KeyPath="yes"/>
      </Component>
      <Component Id="log4net.config" Guid="f8164f91-fa5c-0004-0001-9beb5b044699">
        <File Id="log4net.config" Source="$(var.Chocolatey.Explorer.TargetDir)\log4net.config" KeyPath="yes"/>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>