---
Order: 30
Title: Actions
Description: Information about the top level actions that can be performed in Chocolatey GUI
---
<p>There are several top level actions that can be performed from the Chocolatey GUI main window.  Lets take a look at each of these, and see what they can do.</p>

@Html.Partial("_ChildPages")
