<div class="github-button">
    <a href="https://github.com/chocolatey/ChocolateyGUI"><i class="fa fa-github"></i> GitHub</a>
</div>
<script>
    ((window.gitter = {}).chat = {}).options = {
        room: 'chocolatey/ChocolateyGUI'
    };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>