<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.1" targetFramework="net452" />
  <package id="AutoMapper" version="7.0.1" targetFramework="net452" />
  <package id="BuildTools.FxCop" version="1.0.1" targetFramework="net452" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net452" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net452" />
  <package id="chocolatey.lib" version="0.10.15" targetFramework="net452" />
  <package id="ControlzEx" version="4.1.1" targetFramework="net452" />
  <package id="LiteDB" version="3.1.4" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.5.0" targetFramework="net452" />
  <package id="MahApps.Metro" version="2.0.0-alpha0531" targetFramework="net452" />
  <package id="MahApps.Metro.IconPacks" version="3.0.0-alpha0255" targetFramework="net452" />
  <package id="Markdig.Signed" version="0.17.1" targetFramework="net452" />
  <package id="Markdig.Wpf.Signed" version="0.3.0" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Threading" version="15.4.4" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.32" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.30" targetFramework="net452" />
  <package id="Serilog" version="2.5.0" targetFramework="net452" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Async" version="1.1.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Console" version="3.1.0" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net452" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net452" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net452" />
  <package id="Splat" version="2.0.0" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net452" developmentDependency="true" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>