<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="AutoMapper" version="4.2.1" targetFramework="net45" />
  <package id="BuildTools.FxCop" version="1.0.1" targetFramework="net45" />
  <package id="Caliburn.Micro" version="3.0.1" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="3.0.1" targetFramework="net45" />
  <package id="chocolatey.lib" version="0.9.10.2" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net45" />
  <package id="Mindscape.Raygun4Net" version="5.3.0" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Rx-WPF" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Xaml" version="2.2.5" targetFramework="net45" />
  <package id="Serilog" version="1.5.14" targetFramework="net45" />
  <package id="StyleCop.Error.MSBuild" version="1.0.0" targetFramework="net45" />
  <package id="StyleCop.MSBuild" version="4.7.54.0" targetFramework="net45" developmentDependency="true" />
</packages>