<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.1" targetFramework="net452" />
  <package id="AutoMapper" version="7.0.1" targetFramework="net48" />
  <package id="BuildTools.FxCop" version="1.0.1" targetFramework="net40" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net48" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net48" />
  <package id="chocolatey.lib" version="0.10.15" targetFramework="net452" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net48" />
  <package id="Fizzler" version="1.2.0" targetFramework="net48" />
  <package id="HarfBuzzSharp" version="2.6.1.4" targetFramework="net48" />
  <package id="LiteDB" version="5.0.5" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="MahApps.Metro" version="2.4.4" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.BoxIcons" version="4.8.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Entypo" version="4.8.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FontAwesome" version="4.8.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Modern" version="4.8.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Octicons" version="4.8.0" targetFramework="net48" />
  <package id="Markdig.Signed" version="0.23.0" targetFramework="net48" />
  <package id="Markdig.Wpf.Signed" version="0.5.0.1" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Threading" version="15.4.4" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.15" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net452" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
  <package id="Serilog" version="2.5.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Async" version="1.1.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net48" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net48" />
  <package id="SkiaSharp" version="1.68.3" targetFramework="net48" />
  <package id="SkiaSharp.HarfBuzz" version="1.68.3" targetFramework="net48" />
  <package id="Splat" version="2.0.0" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net48" developmentDependency="true" />
  <package id="Svg.Custom" version="0.3.0" targetFramework="net48" />
  <package id="Svg.Skia" version="0.3.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net452" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net48" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net48" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net48" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net48" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net48" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>