<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
  <package id="structuremap.automocking" version="2.6.4.1" targetFramework="net40" />
</packages>