<?xml version="1.0" encoding="utf-8"?>
<InspectCodeOptions>
  <SolutionFile>%RootDirectory%Source\ChocolateyGui.sln</SolutionFile>
  <CustomSettingsProfile>%RootDirectory%Source\ChocolateyGui.sln.DotSettings</CustomSettingsProfile>
  <OutputFile>%RootDirectory%BuildArtifacts\inspectcode.xml</OutputFile>
</InspectCodeOptions>