<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.1" targetFramework="net452" />
  <package id="AutoMapper" version="7.0.1" targetFramework="net48" />
  <package id="BuildTools.FxCop" version="1.0.1" targetFramework="net452" />
  <package id="chocolatey.lib" version="0.10.15" targetFramework="net452" />
  <package id="LiteDB" version="5.0.5" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Threading" version="15.4.4" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.32" targetFramework="net452" />
  <package id="Serilog" version="2.5.0" targetFramework="net48" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Async" version="1.1.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Console" version="3.1.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net48" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net48" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net48" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net48" developmentDependency="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>