name: Build

on:
  push:
    branches:
      - master
      - develop
      - "feature/**"
      - "release/**"
      - "hotfix/**"
    tags:
      - "*"
  pull_request:

    # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2019
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Fetch all tags and branches
        run: git fetch --prune --unshallow

      - name: Cache Tools
        uses: actions/cache@v4
        with:
          path: |
            tools
            Source/packages
          key: ${{ runner.os }}-tools-${{ hashFiles('recipe.cake') }}

      - name: Build project
        shell: powershell
        run: |
          ./build.ps1 --target=CI

      - name: Upload Issues-Report
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: warn
          name: issues
          path: code_drop/issues-report.html

      - name: Upload Packages
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: warn
          name: package
          path: code_drop/Packages/**/*
